<%= form_with(model: article, data: { controller: "editor" }, class: "bg-white p-8 rounded-lg shadow-md max-w-[725px] mx-auto prose lg:prose-xl dark:prose-invert") do |form| %>
  <% if article.errors.any? %>
    <div class="bg-red-100 text-red-700 p-4 rounded-lg mb-6">
      <h2 class="font-bold"><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% article.errors.each do |error| %>
          <li class="list-disc list-inside"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-4 w-full">
    <%= form.text_field :title, class: "mt-1 p-2 w-full mx-auto rounded-md border-gray-300 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", placeholder: "Enter a title 🖊" %>
  </div>
  <%= form.hidden_field :content, id: "article_hidden_content", data: { editor_target: "hiddenContent" } %>
  <div class="mb-4 w-ful min-h-[50dvh]" id="article_content" data-editor-target="articleContent"></div>
  <div>
    <%= form.submit "Submit", class: "w-full bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700 focus:outline-none focus:border-blue-700 focus:ring focus:ring-blue-200 focus:ring-opacity-50" %>
  </div>
<% end %>
