<div id="container" class="relative z-10">
  <nav class="w-full bg-blue-500 p-6" data-controller="toggle-menu">
    <div class="w-full flex justify-center ">
      <div class="w-full sm:w-4/5 lg:w-3/4 xl:w-2/3 flex justify-between items-center">
        <!--
        Defino o atributo / data: { turbo: false } / en algúns links para
        previr que o resaltado da sintaxis non se execute debido a algunha
        configuración de Turbo que descoñezo. Este é un fix temporal
      -->
        <%= link_to articles_path, data: { turbo: false } do %>
          <h2 class="text-white text-xl font-bold inline">Oh My Blog!</h2>
        <% end %>
        <ul class="md:flex space-x-4 list-none hidden">
          <%= link_to articles_path , data: { turbo: false } do %>
            <li><span class="text-white font-bold hover:text-gray-300">Artículos Recientes</span></li>
          <% end %>
          <%= link_to new_article_path do %>
            <li><span class="text-white font-bold hover:text-gray-300">Nuevo Artículo</span></li>
          <% end %>
        </ul>
        <button class="text-gray-50 md:hidden" data-toggle-menu-target="button" >
          <%= image_tag "hamburguer_menu", class: "h-14 w-14 "%>
        </button>
      </div>
    </div>
  </nav>
  <ul class="md:hidden list-none w-full absolute top-0 -z-10 bg-white -translate-y-full transition-all duration-500 ease-in-out" id="menu-list">
    <%= link_to articles_path, class: "w-full flex justify-center" , data: { turbo: false } do %>
      <li class="text-black font-bold hover:text-gray-300 mx-auto p-4 text-center">Artículos Recientes</li>
    <% end %>
    <%= link_to new_article_path, class: "w-full" do %>
      <li class="text-black font-bold hover:text-gray-300 mx-auto p-4 text-center">Nuevo Artículo</li>
    <% end %>
  </ul>
</div>
