<ul class="lg:flex gap-8 items-center list-none hidden">
  <% unless current_user %>
    <%= link_to new_user_session_path do %>
      <li class="text-slate-500 font-thin hover:text-blue-500 text-xl">Log in</li>
    <% end %>
  <% end %>
  <%= link_to articles_path  do %>
    <li class="flex items-center gap-2 text-slate-500 font-thin hover:text-blue-500 text-xl"><%= image_tag "recent.svg", class: "inline w-6 opacity-50" %>Recent Articles</li>
  <% end %>
  <% if current_user %>
    <%= link_to new_article_path do %>
      <li class="flex items-center gap-2 text-slate-500 font-thin hover:text-blue-500 text-xl"><%= image_tag "new.svg", class: "inline w-6" %>New Article</li>
    <% end %>
    <%= button_to destroy_user_session_path, method: :delete, class:"flex items-center gap-2 text-slate-500 font-thin hover:text-red-300 text-xl" do %>
      <li class="flex items-center gap-2"><%= image_tag "shutdown.svg", class: "inline w-6 opacity-50" %>Logout</li>
    <% end %>
    <%= link_to profile_path(current_user) do %>
      <li><%= image_tag current_user.picture.attached? ? current_user.picture : "user_placeholder", class: "w-10 object-cover rounded-full overflow-hidden #{controller_name == "profiles" && action_name == "show" ? "invisible" : ""}"  %></li>
    <% end %>
  <% end %>
</ul>
