<!DOCTYPE html>
<html>
  <head>
    <title>OhMyBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "prism", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "prism", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "editorjs", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render "shared/alerts" %>
    <%= render "shared/navbar" %>
    <main class="w-[90%] sm:w-4/5 lg:w-3/4 max-w-5xl mx-auto my-9">
      <%= yield %>
    </main>
  </body>
</html>
