<!DOCTYPE html>
<html>
  <head>
    <title>OhMyBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "prism", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "prism", defer: true %>
    <%= javascript_include_tag "editorjs", defer: true %>
  </head>
  <body class="container">
    <%= render "shared/alerts" %>
    <main class="w-[90%] mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
